################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
/EmployeeManagement/.vs/EmployeeManagement/v17
/.vs
/EmployeeManagement/.vs
/EmployeeManagement/Api/bin
/EmployeeManagement/Api/obj

